<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	</head>
	
	<body>
		<div class="col-md-12 text-center">

		<video style ="margin-left: 2em;" width="620" height="600" autoplay="autoplay" loop>vid1007.mp4
    <source src="../static/resources/gandalf.mp4" type="video/mp4">Your browser does not support the video tag.</video>

    	</div>

    	<div class = "col-md-12 text-center">
		<a href="/" " class="btn btn-info">Volver a la página de inicio</a>
		</div>

	
		
	<style type="text/css">
		.center { 
			margin: 0 auto; 
			width: 50%; 
		}

	</style>
	
	</body>
</html>